* {
  /* font-family: 'Lato', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainpage_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.mainpage_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80vw;
}

.text_section {
  max-width: 50%;
  font-size: 1.3vw;
}

.text_section h1 {
  font-size: 4em;
  color: #3D3C01;
  text-align: left;
}

.text_section p {
  font-size: 1.2em;
  margin-top: 1em;
  color: #011220;
  text-align: left;
}

.buttons {
  display: flex; 
  gap: 4em; 
  justify-content: center;
  margin-top: 2em; 
}

.button {
  transition: .3s;
  width: 15em;
  height: 3.5em;
  color: #FFFFFF;
  font-size: 1rem;
  border: none;
  background-color: #3D3C01;
  border-radius: 25px;  
  cursor: pointer; 
}

.button:hover {
  transform: scale(1.1) translateX(-0.8em);
  background-color: #9e975f;
}

.button:active {
  transform: scale(1);
  background-color: #6A6333;
}

.button:disabled {
  color: #e9e9e9;
  border: none;
  transform: scale(1) translateX(.4em);
  background-color: #C2CBD0;
  box-shadow: none;
}

.image_section {
  max-width: 35%;
  display: flex; 
  justify-content: flex-end;
}

.logo_image {
  width: 100%;
  height: auto;
}

.four_squares {
  display: flex;
  justify-content: space-between; 
  margin-top: 3em;
  width: 100%;
  max-width: 80vw;  
}

.square {
  flex: 1;  
  padding: 2em;
  text-align: center;
  color: white;  
  min-height: 14em;
}

.square h1 {
  font-size: 1.5em;  
  margin-bottom: 1em;
  text-align: left;
}

.square p {
  font-size: 1.1em;  
  color: #e1e1e1;  
  text-align: left;
}

.square:nth-child(odd) {
  background-color: #C2CBD0;
}

.square:nth-child(odd) p,
.square:nth-child(odd) h1 {
  color: #3D3C01;
}

.square:nth-child(even) {
  background-color: #011220;
}

.square:nth-child(even) p,
.square:nth-child(even) h1 {
  color: #e1e1e1;  
}

/* Media Queries para Responsividad */

/* Para tablets (768px - 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {
  .mainpage_content {
    flex-direction: row; /* Mantiene el texto y la imagen uno al lado del otro */
    text-align: center;
    align-items: flex-start; /* Alinea ambos elementos (texto e imagen) en la parte superior */
  }

  .text_section {
    max-width: 100%;
    margin-top: 0; /* Elimina cualquier margen superior */
    align-self: flex-start; /* Alinea el título hacia arriba en su contenedor */
  }

  .text_section p {
    font-size: 2em;
    margin-top: 1em;
    color: #011220;
    text-align: left;
  }

  .buttons {
    flex-direction: row;
    gap: 1em;
  }

  .button {
      width: 9em;
      height: 3em;
      font-size: 2rem;
  }

  .image_section {
    min-width: 20%;
    max-width: 30%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
  }

  .four_squares {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
  }

  .square {
    flex: 1 1 45%;
    margin-bottom: 2.5em;
    min-width: 250px; 
    max-width: 450px;
  }
}

/* Para móviles (menos de 768px) */
@media (max-width: 768px) {
  .mainpage_content {
    flex-direction: row;
    text-align: center;
    /* width: 90vw; */
    margin-left: 1em;
  }
  .text_section {
    max-width: 50%;
  }

  .text_section h1 {
    font-size: 4em; 
    /* width: 5em; */
  }

  .text_section p {
    font-size: 3em; 
    /* min-width: 600px; */
    width: 100%;
  }

  .image_section {
    max-width: 30%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
  }

  .buttons {
    flex-direction: column; 
    gap: 1em;
  }

  .button {
    width: 20em;
    height: 3em;
    font-size: 2rem;
  }

  .four_squares {
    display: flex;
    flex-direction: column; 
    margin-top: 5em;
    width: 100vw;
  }

  .square {
    /* width: 100vw;  */
    margin-bottom: 1em;
    /* min-width: 34em;  */
    font-size: 3vw;
  }
}