nav {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
  padding: 0.2rem 1rem;
  max-height: 3rem;
  height: 5%;
  width: 100%;
  align-items: center;
  position: fixed;
}

nav .logoContainer {
  display: flex;
  justify-self: baseline;
  height: 100%;
  width: fit-content;
  align-items: center;
  gap: 10%;
}

nav .logoImage {
  content: var(--logo);
  height: 100%;
  width: auto;
}

nav .buttonsContainer {
  justify-self: center;
  align-items: center;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 30%;
  text-align: center;
}

nav .userContainer {
  display: flex;
  gap: 1%;
  justify-self: end;
  height: 100%;
  align-items: center;
}

nav .userContainer svg {
  height: 100%;
  width: auto;
}

.solid-nav {
  color: var(--light-color-2);
  background-color: var(--main-color-2);
  position: sticky;
}

.gradient-nav {
  color: var(--main-color-2);
  background: linear-gradient(to bottom, 
    rgb(from var(--secondary-color-3-3) r g b / 0.8),
    rgb(from var(--secondary-color-3-3) r g b / 0.2) 90%,
    rgb(from var(--secondary-color-3-3) r g b / 0.0)
  );
}
