:root {
  /*
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */

  /* COLORS */
  --main-color-1: #3f425c;
  --secondary-color-1-1: #555B8D;
  --secondary-color-1-2: #7680D0;
  --light-color-1: #97A2FF;

  --main-color-2: #504b47;
  --secondary-color-2-1: #817A74;
  --secondary-color-2-2: #AEA69F;
  --light-color-2: #DDD6D0;

  --main-color-3: #4b3621;
  --secondary-color-3-1: #6E471F;
  --secondary-color-3-2: #AA7139;
  --secondary-color-3-3: #FFA952;
  --light-color-3: #FFD2A4;

  /* FONT */
  --main-font: "Irish Grover", "MedievalSharp", "Modern Antiqua", "Oldenburg", serif;

  /* IMAGES */
  --mainpage-home-background: url('/background/mainpage_home.png');
  --black_team_background: url('/background/black.png');
  --white_team_background: url('/background/white.png');

  --logo: url(/logo.jpg);

  --pieces-static: url('/pieces/single_pieces.png');

  --pieces-b-king: url('/pieces/black_king.png');
  --pieces-b-queen: url('/pieces/black_queen.png');
  --pieces-b-bishop: url('/pieces/black_bishop.png');
  --pieces-b-knight: url('/pieces/black_knight.png');
  --pieces-b-rook: url('/pieces/black_rook.png');
  --pieces-b-pawn: url('/pieces/black_pawn.png');

  --pieces-w-king: url('/pieces/white_king.png');
  --pieces-w-queen: url('/pieces/white_queen.png');
  --pieces-w-bishop: url('/pieces/white_bishop.png');
  --pieces-w-knight: url('/pieces/white_knight.png');
  --pieces-w-rook: url('/pieces/white_rook.png');
  --pieces-w-pawn: url('/pieces/white_pawn.png');


  font-family: var(--main-font);
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--mainpage-home-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#root {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
/*
a:hover {
  color: #535bf2;
}
*/


/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
